body {
    margin: 0;
    padding: 0;
   
}

button {
    height: 60px;
    width: 140px;
    background-color: rgb(31, 29, 177);
    color: white;
    border: rgb(205, 205, 207);
}


button:hover {
    background: rgb(69, 37, 156);
    color: white;
    

}